body {
	overflow:hidden;
	height:100%;
    margin: 0;
    padding: 0;
}

.phone {
  position: absolute;
  top: 0%;
  left: 0%;
  transform-origin: 50% 50%;
}
.phoneWallpaper {
  position: relative;
  z-index:1;
  top: 30px;
  left: 8px;
}

.contact1{
	position: absolute;
	box-shadow: 0px 0px 5px 2px #000000;
	top: 20px;
	left: 7px;
	z-index: 2;
}
.contact1:hover{
	box-shadow: 0px 0px 5px 2px #36FF00;
}
#contact1name{
	z-index: 3;
	position: absolute;
	color: white;
	font-size: 14px;
	font-weight: bold;
	top: 20px;
	left: 7px;
	text-align: center;
	pointer-events: none;
	text-shadow:
	 -1px -1px 3px #000,  
	  1px -1px 3px #000,
	  -1px 1px 3px #000,
	   1px 1px 3px #000;
}
.iconTest1 {
  position: absolute;
  box-shadow: 0px 0px 5px 2px #000000;
  top: 50px;
  left: 15px;
  z-index: 2;
}
.iconTest1:hover{
  box-shadow: 0px 0px 5px 2px #36FF00;
}
.contact2{
  position: absolute;
  box-shadow: 0px 0px 5px 2px #000000;
  top: 20px;
  left: 67px;
  z-index: 2;
}
.contact2:hover{
	box-shadow: 0px 0px 5px 2px #36FF00;
}
#contact2name{
	z-index: 3;
	position: absolute;
	color: white;
	font-size: 14px;
	font-weight: bold;
	top: 20px;
	left: 67px;
	text-align: center;
	pointer-events: none;
	text-shadow:
	 -1px -1px 3px #000,  
	  1px -1px 3px #000,
	  -1px 1px 3px #000,
	   1px 1px 3px #000;
}
.iconTest2 {
  position: absolute;
  box-shadow: 0px 0px 5px 2px #000000;
  top: 50px;
  left: 75px;
  z-index: 2;
}
.iconTest2:hover{
  box-shadow: 0px 0px 5px 2px #36FF00;
}
.contact3{
  position: absolute;
  box-shadow: 0px 0px 5px 2px #000000;
  top: 20px;
  left: 127px;
  z-index: 2;
}
.contact3:hover{
	box-shadow: 0px 0px 5px 2px #36FF00;
}
#contact3name{
	z-index: 3;
	position: absolute;
	color: white;
	font-size: 14px;
	font-weight: bold;
	top: 20px;
	left: 127px;
	text-align: center;
	pointer-events: none;
	text-shadow:
	 -1px -1px 3px #000,  
	  1px -1px 3px #000,
	  -1px 1px 3px #000,
	   1px 1px 3px #000;
}
.iconTest3 {
  position: absolute;
  box-shadow: 0px 0px 5px 2px #000000;
  top: 50px;
  left: 135px;
  z-index: 2;
}
.iconTest3:hover{
  box-shadow: 0px 0px 5px 2px #36FF00;
}
.contact4{
  position: absolute;
  box-shadow: 0px 0px 5px 2px #000000;
  top: 95px;
  left: 7px;
  z-index: 2;
}
.contact4:hover{
	box-shadow: 0px 0px 5px 2px #36FF00;
}
#contact4name{
	z-index: 3;
	position: absolute;
	color: white;
	font-size: 14px;
	font-weight: bold;
	top: 95px;
	left: 7px;
	text-align: center;
	pointer-events: none;
	text-shadow:
	 -1px -1px 3px #000,  
	  1px -1px 3px #000,
	  -1px 1px 3px #000,
	   1px 1px 3px #000;
}
.iconTest4 {
  position: absolute;
  box-shadow: 0px 0px 5px 2px #000000;
  top: 125px;
  left: 15px;
  z-index: 2;
}
.iconTest4:hover{
  box-shadow: 0px 0px 5px 2px #36FF00;
}
.contact5{
  position: absolute;
 box-shadow: 0px 0px 5px 2px #000000;
  top: 95px;
  left: 67px;
  z-index: 2;
}
.contact5:hover{
	box-shadow: 0px 0px 5px 2px #36FF00;
}
#contact5name{
	z-index: 3;
	position: absolute;
	color: white;
	font-size: 14px;
	font-weight: bold;
	top: 95px;
	left: 67px;
	text-align: center;
	pointer-events: none;
	text-shadow:
	 -1px -1px 3px #000,  
	  1px -1px 3px #000,
	  -1px 1px 3px #000,
	   1px 1px 3px #000;
}
.iconTest5 {
  position: absolute;
 box-shadow: 0px 0px 5px 2px #000000;
  top: 125px;
  left: 75px;
  z-index: 2;
}
.iconTest5:hover{
  box-shadow: 0px 0px 5px 2px #36FF00;
}
.contact6{
  position: absolute;
  box-shadow: 0px 0px 5px 2px #000000;
  top: 95px;
  left: 127px;
  z-index: 2;
}
.contact6:hover{
	box-shadow: 0px 0px 5px 2px #36FF00;
}
#contact6name{
	z-index: 3;
	position: absolute;
	color: white;
	font-size: 14px;
	font-weight: bold;
	top: 95px;
	left: 127px;
	text-align: center;
	pointer-events: none;
	text-shadow:
	 -1px -1px 3px #000,  
	  1px -1px 3px #000,
	  -1px 1px 3px #000,
	   1px 1px 3px #000;
}
.iconTest6 {
  position: absolute;
  box-shadow: 0px 0px 5px 2px #000000;
  top: 125px;
  left: 135px;
  z-index: 2;
}
.iconTest6:hover{
  box-shadow: 0px 0px 5px 2px #36FF00;
}
.contact7{
  position: absolute;
  box-shadow: 0px 0px 5px 2px #000000;
  top: 170px;
  left: 7px;
  z-index: 2;
}
.contact7:hover{
	box-shadow: 0px 0px 5px 2px #36FF00;
}
#contact7name{
	z-index: 3;
	position: absolute;
	color: white;
	font-size: 14px;
	font-weight: bold;
	top: 170px;
	left: 7px;
	text-align: center;
	pointer-events: none;
	text-shadow:
	 -1px -1px 3px #000,  
	  1px -1px 3px #000,
	  -1px 1px 3px #000,
	   1px 1px 3px #000;
}
.iconTest7 {
  position: absolute;
  box-shadow: 0px 0px 5px 2px #000000;
  top: 200px;
  left: 15px;
  z-index: 2;
}
.iconTest7:hover{
  box-shadow: 0px 0px 5px 2px #36FF00;
}
.contact8{
  position: absolute;
  box-shadow: 0px 0px 5px 2px #000000;
  top: 170px;
  left: 67px;
  z-index: 2;
}
.contact8:hover{
	box-shadow: 0px 0px 5px 2px #36FF00;
}
#contact8name{
	z-index: 3;
	position: absolute;
	color: white;
	font-size: 14px;
	font-weight: bold;
	top: 170px;
	left: 67px;
	text-align: center;
	pointer-events: none;
	text-shadow:
	 -1px -1px 3px #000,  
	  1px -1px 3px #000,
	  -1px 1px 3px #000,
	   1px 1px 3px #000;
}
.iconTest8 {
  position: absolute;
  box-shadow: 0px 0px 5px 2px #000000;
  top: 200px;
  left: 75px;
  z-index: 2;
}
.iconTest8:hover{
  box-shadow: 0px 0px 5px 2px #36FF00;
}
.contact9{
  position: absolute;
  box-shadow: 0px 0px 5px 2px #000000;
  top: 170px;
  left: 127px;
  z-index: 2;
}
.contact9:hover{
	box-shadow: 0px 0px 5px 2px #36FF00;
}
#contact9name{
	z-index: 3;
	position: absolute;
	color: white;
	font-size: 14px;
	font-weight: bold;
	top: 170px;
	left: 127px;
	text-align: center;
	pointer-events: none;
	text-shadow:
	 -1px -1px 3px #000,  
	  1px -1px 3px #000,
	  -1px 1px 3px #000,
	   1px 1px 3px #000;
}
.iconTest9 {
  position: absolute;
  box-shadow: 0px 0px 5px 2px #000000;
  top: 200px;
  left: 135px;
  z-index: 2;
}
.iconTest9:hover{
  box-shadow: 0px 0px 5px 2px #36FF00;
}
.contact10{
position: absolute;
  box-shadow: 0px 0px 5px 2px #000000;
  top: 245px;
  left: 7px;
  z-index: 2;
}
.contact10:hover{
	box-shadow: 0px 0px 5px 2px #36FF00;
}
#contact10name{
	z-index: 3;
	position: absolute;
	color: white;
	font-size: 14px;
	font-weight: bold;
	top: 245px;
	left: 7px;
	text-align: center;
	pointer-events: none;
	text-shadow:
	 -1px -1px 3px #000,  
	  1px -1px 3px #000,
	  -1px 1px 3px #000,
	   1px 1px 3px #000;
}
.iconTest10 {
  position: absolute;
  box-shadow: 0px 0px 5px 2px #000000;
  top: 275px;
  left: 15px;
  z-index: 2;
}
.iconTest10:hover{
  box-shadow: 0px 0px 5px 2px #36FF00;
}
.contact11{
  position: absolute;
  box-shadow: 0px 0px 5px 2px #000000;
  top: 245px;
  left: 67px;
  z-index: 2;
}
.contact11:hover{
	box-shadow: 0px 0px 5px 2px #36FF00;
}
#contact11name{
	z-index: 3;
	position: absolute;
	color: white;
	font-size: 14px;
	font-weight: bold;
	top: 245px;
	left: 67px;
	text-align: center;
	pointer-events: none;
	text-shadow:
	 -1px -1px 3px #000,  
	  1px -1px 3px #000,
	  -1px 1px 3px #000,
	   1px 1px 3px #000;
}
.iconTest11 {
  position: absolute;
  box-shadow: 0px 0px 5px 2px #000000;
  top: 275px;
  left: 75px;
  z-index: 2;
}
.iconTest11:hover{
  box-shadow: 0px 0px 5px 2px #36FF00;
}
.contact12{
  position: absolute;
  box-shadow: 0px 0px 5px 2px #000000;
  top: 245px;
  left: 127px;
  z-index: 2;
}
.contact12:hover{
	box-shadow: 0px 0px 5px 2px #36FF00;
}
#contact12name{
	z-index: 3;
	position: absolute;
	color: white;
	font-size: 14px;
	font-weight: bold;
	top: 245px;
	left: 127px;
	text-align: center;
	pointer-events: none;
	text-shadow:
	 -1px -1px 3px #000,  
	  1px -1px 3px #000,
	  -1px 1px 3px #000,
	   1px 1px 3px #000;
}
.iconTest12 {
  position: absolute;
  box-shadow: 0px 0px 5px 2px #000000;
  top: 275px;
  left: 135px;
  z-index: 2;
}
.iconTest12:hover{
  box-shadow: 0px 0px 5px 2px #36FF00;
}

.mandatory{
	position: absolute;
	top: 0%;
	left: 0%;
	transform-origin: 50% 50%;
}
.backTest {
  position: relative;
  box-shadow: 0px 0px 5px 2px #000000;
  top: 333px;
  left: 32px;
  z-index: 2;
}
.backTest:hover{
  box-shadow: 0px 0px 5px 2px #36FF00;
}
.homeTest {
  position: absolute;
  box-shadow: 0px 0px 5px 2px #000000;
  top: 333px;
  left: 90px;
  z-index: 2;
}
.homeTest:hover{
  box-shadow: 0px 0px 5px 2px #36FF00;
}

#appcontainer{
	width: 100%;
	height: 100%;
	top: 30px;
	left: 8px;
	position: absolute;
}
#appload1,
#appload2,
#appload3,
#appload4,
#appload5,
#appload6,
#appload7,
#appload8,
#appload9,
#appload10,
#appload11,
#appload12{
	position: absolute;
	top: 0px;
	left: 0px;
}

.phonebody{
	position: absolute;
  top: 0%;
  left: 0%;
}
.phoneBackground {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
}


#timetxt {
  z-index: 1;
  position: absolute;
  color: white;
  font-size: 12px;
  font-weight: bold;
  left: 140px;
  top: 20px;
  text-shadow:
     -1px -1px 3px #000,  
      1px -1px 3px #000,
      -1px 1px 3px #000,
       1px 1px 3px #000;
}

@keyframes moveup {
  from {
    transform: translateY(1000px);
  }
  to {
    transform: translateY(0px);
  }
}
.moveupanim
{
	position: absolute;
	animation: moveup 0.75s linear forwards;
	animation-timing-function: ease-in-out;
}

@keyframes movedown {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(1000px);
  }
}
.movedownanim
{
	position: absolute;
	animation: movedown 0.75s linear forwards;
	animation-timing-function: ease-in-out;
}

@keyframes movein {
  from {
    transform: scale(0, 0);
  }
  to {
    transform: scale(1, 1);
  }
}

.moveinanim
{
	position: absolute;
	animation: movein 0.5s linear forwards;
	animation-timing-function: ease-in-out;
}

@keyframes moveout {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(0, 0);
  }
}

.moveoutanim
{
	position: absolute;
	animation: moveout 0.5s linear forwards;
	animation-timing-function: ease-in-out;
}

@keyframes openscreen {
  from {
    transform: scale(1, 0);
  }
  to {
    transform: scale(1, 1);
  }
}

.openscreenanim
{
	position: absolute;
	animation: openscreen 0.25s linear forwards;
	animation-timing-function: ease-in-out;
}