body {
	overflow:hidden;
	height:100%;
    margin: 0;
    padding: 0;
}

img {
  position: absolute;
  top: 0%;
  left: 0%;
}
.phoneBackground {
  z-index: 1;
}
.phoneWallpaper {
  top: 31px;
  left: 8px;
  z-index: 1;
}
.iconTest1 {
  box-shadow: 0px 0px 5px #000000;
  top: 50px;
  left: 15px;
  z-index: 2;
}

.iconTest2 {
  box-shadow: 0px 0px 5px #000000;
  top: 50px;
  left: 75px;
  z-index: 2;
}

.iconTest3 {
  box-shadow: 0px 0px 5px #000000;
  top: 50px;
  left: 135px;
  z-index: 2;
}

.iconTest4 {
  box-shadow: 0px 0px 5px #000000;
  top: 125px;
  left: 15px;
  z-index: 2;
}

.iconTest5 {
  box-shadow: 0px 0px 5px #000000;
  top: 125px;
  left: 75px;
  z-index: 2;
}

.iconTest6 {
  box-shadow: 0px 0px 5px #000000;
  top: 125px;
  left: 135px;
  z-index: 2;
}

.iconTest7 {
  box-shadow: 0px 0px 5px #000000;
  top: 200px;
  left: 15px;
  z-index: 2;
}

.iconTest8 {
  box-shadow: 0px 0px 5px #000000;
  top: 200px;
  left: 75px;
  z-index: 2;
}

.iconTest9 {
  box-shadow: 0px 0px 5px #000000;
  top: 200px;
  left: 135px;
  z-index: 2;
}

.iconTest10 {
  box-shadow: 0px 0px 5px #000000;
  top: 275px;
  left: 15px;
  z-index: 2;
}

.iconTest11 {
  box-shadow: 0px 0px 5px #000000;
  top: 275px;
  left: 75px;
  z-index: 2;
}

.iconTest12 {
  box-shadow: 0px 0px 5px #000000;
  top: 275px;
  left: 135px;
  z-index: 2;
}

.backTest {
  box-shadow: 0px 0px 5px #000000;
  top: 328px;
  left: 27.5px;
  z-index: 2;
}

.homeTest {
  box-shadow: 0px 0px 5px #000000;
  top: 328px;
  left: 87.5px;
  z-index: 2;
}

#text {
  z-index: 1;
  position: absolute;
  color: white;
  font-size: 10px;
  font-weight: bold;
  left: 75px;
  top: 20px;
  animation: move 0.75s normal;
  animation-timing-function: ease-in-out;
}

@keyframes moveup {
  from {
    transform: translateY(1000px);
  }
  to {
    transform: translateY(0px);
  }
}
.moveupanim
{
	position: absolute;
	animation: moveup 0.75s normal;
	animation-timing-function: ease-in-out;
}

@keyframes movedown {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(1000px);
  }
}
.movedownanim
{
	position: absolute;
	animation: movedown 0.75s normal;
	animation-timing-function: ease-in-out;
}
















